# Файлы сборки
build/
dist/
*.spec

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/

# Файлы редактора/IDE
.vscode/
.idea/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log